/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

/* REMOVING SOME DEFAULT BROWSER PARAMETERS */
* {
  /* remove cheaps from lists */
  list-style: none;
  box-sizing: border-box;
}
ul {
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* GENERAL STYLING */
html {
  font-size: 16px;
}
body {
  height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  background-color: hsl(210, 60%, 98%);
}
.container {
  max-width: 750px;
  margin: 40px auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*NAVBAR STYLE*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul > li {
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 1rem;
}
.menu-notif {
  font-size: 0.75rem;
  background-color:hsl(219, 85%, 26%);
  padding: 3px 12px 5px 12px;
  border-radius: 4px;
  color: white;
}
.menu-status {
  color: hsl(219, 14%, 63%);
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}
.menu-status:hover {
  color: hsl(219, 85%, 26%);
}

/* MAIN STYLE*/
.container p {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  color: hsl(219, 14%, 63%);
}
.avatar > img {
  width: 40px;
}
.unread-notif {
  display: flex;
  align-items: center;
  background-color: hsl(210, 60%, 98%);
  border-radius: 4px;
  margin-top: 1rem;
}
.comment-notif {
  display: flex;
  align-items: top;
  margin-top: 1rem;
}
.comment-notif .comment-zone {
  margin-top: 1rem;
}
.comment-notif .avatar {
  margin-top: 0px;
}
.comment-zone {
  border: solid 1px hsl(219, 14%, 63%);
  border-radius: 6px;
  padding: 1rem;
  width: 95%;
}
.read-notif {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.chess-pic > img {
  width: 50px;
  cursor: pointer;
}
.date {
  color: hsl(219, 14%, 63%);
  font-size: 0.9rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
strong {
  color: black;
  cursor: pointer;
}
strong:hover {
  color: hsl(219, 85%, 26%);
}
.blue {
  color: hsl(219, 85%, 26%);
}
.gray {
  color: hsl(219, 14%, 63%);
}
.dot {
  background-color: hsl(1, 90%, 64%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

